html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
#Intro {
    background-color: lightgray;
    border-color: lightgray;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

main {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#Life {
    background-color: lightgray;
    border-color: lightgray;
}

#EarlyLife1 {
    width: 600px;
    height: 550px;
    justify-content: center;
}

#EarlyLife2 {
    width: 600px;
    height: 500px;
    justify-content: center;
}

#Extra3 {
    width: 600px;
    height: 550px;
    justify-content: center;
}

#Extra2 {
    width: 600px;
    height: 550px;
    justify-content: center;
}

#Extra1 {
    width: 600px;
    height: 550px;
    justify-content: center;
}

#Extra4 {
    width: 400px;
    height: 500px;
    justify-content: center;
}



/*This styling is for my Works Page of the Website*/
#Works {
    background-color: lightgray;
    border-color: lightgray;
}
/*Each background color of the card is a color I feel can be associated and or seen from the film or movie image*/
#First {
    background-color: gray;
}

#Second {
    background-color: orange; 
}

#Third {
    background-color: yellow;
}

#Fourth {
    background-color: lightblue;
}

#Fifth {
    background-color: burlywood;
}

#Sixth {
    background-color: blue;
}

#works {
    background-color: lightskyblue;
}