html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
#Intro {
    background-color: lightgray;
    border-color: lightgray;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

main {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#Life {
    background-color: lightgray;
    border-color: lightgray;
}

#EarlyLife1 {
    width: 600px;
    height: 550px;
}

#EarlyLife2 {
    width: 600px;
    height: 550px;
}

#Works {
    background-color: lightgray;
    border-color: lightgray;
}

#First {
    background-color: gray;
}

#Second {
    background-color: orange; 
}

#Third {
    background-color: yellow;
}

#Fourth {
    background-color: lightblue;
}

#Fifth {
    background-color: burlywood;
}

#Sixth {
    background-color: blue;
}

#works {
    background-color: lightskyblue;
}