#Intro {
    background-color: lightgray;
    border-color: lightgray;
}

#Life {
    background-color: lightgray;
    border-color: lightgray;
}

#EarlyLife1 {
    width: 600px;
    height: 550px;
}

#EarlyLife2 {
    width: 600px;
    height: 550px;
}

#Works {
    background-color: lightgray;
    border-color: lightgray;
}

#FirstMovie {
    width: 400px;
    height: 450px;
}